.vitalpagemain {
    width: 100%;
    height: auto;
}

.vitalairecenter {
    text-align: center;
}

.vitalaireatag {
    color: inherit;
    text-decoration: none;
}

.vitalaireatag:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.page4-active {
    border-bottom: 3px solid white;
}