.bgblue {
    background-color: #86b5c3;
    width: 100%;
    height: 100vh;
}

.back-grey {
    background-color: rgb(242, 241, 240);
    border-radius: 10px;
}

.txt-blue {
    color: #86b5c3 !important;
}

.roboto-slab-regular {
    font-family: Roboto-Slab-regular;
}

.cust-padding {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.right {
    text-align: right;
}

.center-all {
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    position: absolute;
}

.under-cons-text {
    color: #86b5c3;
    font-size: 200px
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.uk-alert-success {
    /* justify-content: center;
    background: #65FFC9 !important;
    color: #009F63 !important;
    width: 50%; */
    /* background: inherit !important; */
}

.uk-alert {
    background: inherit !important;
}

.emailinput {
    background-color: inherit;
    width: 30%;
    border: none !important;
    border-bottom: 2px solid rgb(134, 181, 195) !important;
    font-size: 1.1em !important;
    font-family: Roboto-regular;
    font-weight: normal;
    color: #666;
    outline: none;
    height: auto !important;
}

.buttonnewsletter {
    font-family: Roboto-500;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #86b5c3;
    color: white;
    border: none;
    border-radius: 5px;
}

.buttonnewsletter:hover {
    text-decoration: none;
    color: white;
    background-color: #487886;
}

.buttonnewsletter:focus {
    outline: 0;
}

@media(max-width:1200px) {
    .under-cons-text {
        font-size: 100px
    }
}

@media(max-width:800px) {
    .under-cons-text {
        font-size: 50px
    }

    .cust-padding {
        padding-left: 10%;
        padding-right: 10%;
    }

    .emailinput {
        width: 70%;
    }
}